{
  "regionBoundaries": {
    "US": {
      "xMin": -125,
      "xMax": -66.5,
      "yMin": 24.396308,
      "yMax": 49.384358,
      "locationKeywordsFilter": ["KEYWORDS_HERE"],
      "departmentOfTransporationUrl": "DOT_URL_HERE_USE_{lat}_FOR_LATITUDE_USE_{lon}_FOR_LONGITUDE",
      "discordWebhookUrl": "WEBHOOK_URL_HERE_FOR_DISCORD"
    }
  },
  "loop": false
}
